.project {
    margin-top: -100px;

    & .project_title {
        margin-bottom: 25px;
    }

}

.project_inner {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    gap: var(--sidebar-gap);
}

.project_main {
    max-width: var(--main-content);
}

.project_taxonomy {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    max-width: 790px;
    // padding-right: 75px;
    // position: relative;


    & li {
        background: #8b86cd;
        border-radius: 99px;
        transition: all 0.3s linear;
        border: 2px solid transparent;


        @media (hover:hover) {
            &:hover {
                background: transparent;
                color: #000;
                border: 2px solid #8b86cd;

                & a {
                    color: inherit;
                }
            }
        }

        &.project_all {
            background: transparent;
            color: #000;
            border: 2px solid #8b86cd;

            @media (hover:hover) {
                &:hover {
                    background: #8b86cd !important;
                    color: #fff;
                    border-color: transparent;

                    & a {
                        color: inherit;
                    }
                }
            }

            & a {
                color: inherit;
            }
        }

        &.project_show {
            border-radius: 99px;
            padding: 10px 23px 10px 28px;
            box-shadow: 0 3px 12px 0 rgba(37, 25, 53, 0.15);
            padding: 8.75px 24px;
            cursor: pointer;

            & path {
                transition: all 0.3s linear;
            }

            @media (hover:hover) {
                &:hover {
                    & path {
                        stroke: black;
                    }
                }
            }
        }
    }

    & a {
        border-radius: 99px;
        display: block;
        padding: 8px 26px;
        font-weight: 400;
        font-size: 18px;
        line-height: 115%;
        color: #fff;
        transition: all 0.3s linear;
    }
}

.project_content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    & article {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & h3,
        & p {
            margin: 0;
            display: unset;
        }
    }

    & article .img-wrap {
        position: relative;
    }

    & article a {
        display: block;
    }

    & article img {
        border-radius: 25px;
        max-width: 830px;
        max-height: 434px;
    }

    & article span {
        font-weight: 400;
        font-size: 16px;
        line-height: 115%;
        color: #737373;
        border-radius: 6px;
        padding: 3px 10px 3px 10px;
        background: #fff;
    }

    & article .content_wrap {
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    & article .grid-row {
        grid-template-columns: 1fr 114px;
        gap: 50px;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 3px 12px 0 rgba(37, 25, 53, 0.15);
            background: #fff;
            padding: 12px 16px;
            max-width: 113px;
            max-height: 46px;
        }
    }
}

.project_content_text {
    & h3 {
        display: inline;
        font-weight: 700;
        font-size: 22px;
        line-height: 115%;
        color: #000;
    }

    & p {
        font-weight: 400;
        font-size: 22px;
        line-height: 115%;
        color: #000;
    }
}

.project_link_bank {
    & img {
        display: block;
        max-width: 83px !important;
        max-height: 40px !important;
        object-fit: contain !important;
    }
}

.project_content_small {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    & a {
        display: block;
        position: relative;

        & img {
            border-radius: 6px;
            max-width: 405px;
            max-height: 358px;
        }

        & .content_wrap {
            position: absolute;
            left: 20px;
            top: 20px;
            display: flex;
            gap: 6px;
        }
    }

    & .project_content_small_item span {
        font-weight: 400;
        font-size: 16px;
        line-height: 115%;
        color: #737373;
        border-radius: 6px;
        padding: 3px 10px 3px 10px;
        background: #fff;
    }
}