<footer class="footer section" style="background-image: url(./assets/images/footer/Background.png);">
    <div class="container container-small">
        <div class="footer_inner">
            <div class="flex-column">
                <a href="mailto:office@kemo.ru">office@kemo.ru</a>
                <a href="tel:+91234567899">+9 123 456 78 99</a>
                <small>© 2005—2020 OOO "KEMO"</small>
            </div>
            <a href="/" class="footer_inner_logo">
                <img src="./assets/images/footer/logo.svg" alt="logo" width="116" height="60" loading="lazy">
            </a>
        </div>
    </div>
</footer>