<header class="section header --main" style="background-image: url(./assets/images/main-banner/Airbrush-Image-Enhancer.png);">
    <div class="container">
        <div class="header_inner">
            <a href="/" class="header_logo">
                <img src="./assets/images/header/logo.svg" alt="logo" >
            </a>
            <a href="" class="header_link">Заказать проект</a>
        </div>
        <div class="header_inner_bootom">
            <sidebar class="header_sidebar --main">
                 <nav>
                     <ul class="header_menu list-reset">
                         <li class="current-menu-item"><a href="">Проекты</a></li>
                         <li><a href="">Клиенты</a></li>
                         <li><a href="">Контакты</a></li>
                     </ul>
                 </nav>
            </sidebar>
            <div class="header_content">
                <h1>The fate of civilization <br> 
                    is in your hands</h1>
                    <p>But you can save the world by <br> ordering a project from us!</p>
            </div>
        </div>

    </div>
</header>